*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin: 2%;
    padding: 2%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: beige;
}

ol{
    padding: 2%;
    width:20%;
}

li{
    padding: 3%;
}

li a{
    text-decoration: none;
    color: white;
    text-align: left;
}

li a:hover{
    color: rgb(0, 247, 255);
}